/* Estilo personalizado para centralizar o conteúdo */
.custom-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilo para o menu lateral */
.menu {
    background-color: #0097a7; /* Cor de fundo do menu (Azul Padrão) */
    color: #fff; /* Cor do texto no menu (Branco) */
    width: 200px; /* Largura do menu */
    height: 100%; /* Tamanho da tela inteira */
    position: fixed; /* Fixa o menu à esquerda */
    top: 0;
    left: 0;
    padding: 20px;
}

/* Estilo para o título "Ferramentas" */
.menu-title {
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    margin: 10px 0; /* Espaçamento superior e inferior */
    color: red; /* Cor do título "Ferramentas" (Vermelho) */
}

/* Estilo para a lista não ordenada dentro do menu */
.menu ul {
    list-style: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o espaçamento interno da lista */
}

/* Estilo para os itens de lista dentro do menu */
.menu ul li {
    margin-bottom: 10px; /* Adiciona espaçamento entre os itens da lista */
}

/* Estilo para os links dentro do menu */
.menu a {
    color: #fff; /* Cor dos links (Branco) */
    text-decoration: none; /* Remove a decoração de texto dos links */
}

/* Estilo para o corpo (body) da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Cor de fundo do corpo (Cinza Claro) */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilo para o contêiner (container) principal */
.container {
    width: 80%;
    max-width: 800px; /* Largura máxima do contêiner */
    padding: 40px;
    background-color: #fff; /* Cor de fundo do contêiner (Branco) */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para rótulos (labels) */
label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #0097a7; /* Cor do texto do rótulo (Azul Padrão) */
}

/* Estilo para rótulos (labels) pós botão */
.label-posbtn {
    display: block;
	margin-top: 20px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #0097a7; /* Cor do texto do rótulo (Azul Padrão) */
}

/* Estilo para campos de entrada de texto */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Cor da borda do campo de entrada (Cinza Claro) */
    border-radius: 4px;
}

/* Estilo para botões */
button {
    background-color: #0097a7; /* Cor de fundo dos botões (Azul Padrão) */
    color: #fff; /* Cor do texto dos botões (Branco) */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px; /* Margem à direita entre os botões */
}

/* Estilo para o último botão */
button:last-child {
    margin-right: 10px; /* Define uma margem menor no último botão */
}

/* Estilo para botões quando o mouse passa por cima (hover) */
button:hover {
    background-color: #007d8a; /* Cor de fundo dos botões em hover (Azul mais escuro) */
}

/* Estilo para áreas de texto (textarea) */
textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc; /* Cor da borda da área de texto (Cinza Claro) */
    border-radius: 4px;
    resize: none; /* Impede a redimensionamento da área de texto */
}


/* Estilo DeMaria*/
.form-demaria {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-demaria-inline {
    font-size: 12px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
